/Intermediate/CachedAssetRegistry.bin
/Intermediate/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
/Saved/AutoScreenshot.png
/Saved/Autosaves/PackageRestoreData.json
/Saved/Autosaves/Game/Textures/space_milkman_run_Auto2.uasset
/Saved/StagedBuilds/

/Saved/Autosaves/Game/Textures/PickUpSpriteSheet_Auto1.uasset
/Saved/Cooked/MacNoEditor/SpaceMilkman/Content/Textures/PickUpSpriteSheet.uasset