/Intermediate/CachedAssetRegistry.bin
/Intermediate/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
/Saved/AutoScreenshot.png
/Saved/Autosaves/PackageRestoreData.json
