$HOME/.Intermediate/CachedAssetRegistry.bin
$HOME/.Intermediate/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings.ini
$HOME/.Intermediate/Config/CoalescedSourceConfigs/Engine.ini
$HOME/.Saved/AutoScreenshot.png